.card {

	border: 1px solid black;
	text-align: center;

}

#front {

	height: 100px;
	width:100px;
}

#back {

	height: 100px;
	width:100px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.image {

	height: 100px;
	width:100px;
	text-align: center;
}

.page-header {

	color:blue;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#title {
	text-align: center;
}

.thumbnail {
	margin:5px;
	width: 130px;
	height: 140px;
}

.col-xs-12{

	align-self: center;
	text-align: center;
	align-content: center;
}
.card.thumbnail:hover {
	background-color:grey;
}
.card.thumbnail.match {
	background-color: green;
}